
#pet-nav {
    font-size: 35px;
}

#store-label{
    font-size: 35px;
}
#brands {
    text-align: center;
    color: rgb(75, 93, 139);
}


.carousel-item {
    height: 32rem;
    background-color: #777;
    color: white;
    position: relative;
}
.container-store{
    position: absolute;
    bottom: 0;
   left: 20%;
    right: 0;
    padding-bottom: 50px;
}