
#pet-nav {
    font-size: 35px;
}

#store-label{
    font-size: 35px;
}
#brands {
    text-align: center;
    color: rgb(75, 93, 139);
}


.carousel-item {
    max-height: 32rem;
    background-color: #777;
    color: aqua;

    
}
.container-store{
    position: absolute;
    bottom: 0;
    left: 20%;
    right: 0;
    padding-bottom: 50px;
}



#slide-1 {
 max-height: 32rem;
 background-image: url('./photos/pup_run_grass.png');
 height: auto;
 width: 100%;
    
}


.product {
 background-color: #fff;
 margin-bottom: 20px;
}
.price {
 font-size: 24px;
 font-weight: bold;
  margin-top: 10px;
}
.shop-img {
 width: 100%;
 height: 350px;
 object-fit: cover;
}
